html {
    background-color: lightgrey;
}
h1 {
    font-size: 2em;
    color: rgb(15, 175, 127);
    text-align: center;
    font-family: fantasy;
    text-transform: uppercase;
    margin-bottom: 0.25em;
}

h4 {
    color: darkblue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0em;
    margin-block-end: 2em;
}

h3 {
    color: darkblue;
    text-align: center;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0em;
    margin: 0em;
}

legend {
    color: rgb(15, 175, 127);
    font-family: fantasy;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1em;
}

fieldset {
    margin: 2em;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

p  {
    text-align: center;
    margin-bottom: 0.25em;
    margin-left: 10em;
    margin-right: 10em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    text-align: center;
    }

button {
    background-color: darkslateblue;
    border: 0px;
    padding: 0.5em;
    margin: 1em;
}

input {    
    background-color: rgb(15, 175, 127);
}

select,option  {
    background-color: rgb(15, 175, 127);
}

#Footer {
    font-size: 1em;
    color: white;
    text-decoration-line: none;
    text-align: center;
}